body {
  font-family: "Tahoma", sans-serif;
  background: #333;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.col {
  padding: 0.5rem;
  display: float;
  width: 33.3%;
}

.price-box {
  background: #fff;
  color: #555;
  list-style-type: none;
  border: 1px solid #555;
  transition: 0.3s;
}

.price-box:hover,
.price-box.best {
  box-shadow: 0 10px 15px 0 #000;
}

.price-box .header {
  background-color: #111;
  color: #fff;
  font-size: 25px;
}

.price-box li {
  padding: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.price-box .emph {
  background-color: #f4f44f;
  font-size: 1rem;
}

.btn {
  background-color: green;
  border: none;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 700) {
}
